
@font-face {
  font-family: eagle-lake;
  src: url(./assets/fonts/EagleLake-Regular.ttf);
}

@font-face {
  font-family: "Raleway-Black";
  src: local("Raleway-Black"),
    url("../src/assets/fonts/Raleway-Black.ttf") format("woff");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: local("Raleway-SemiBold"),
    url("../src/assets/fonts/Raleway-SemiBold.ttf") format("woff");
}

@font-face {
  font-family: "Raleway-Medium";
  src: local("Raleway-Medium"),
    url("../src/assets/fonts/Raleway-Medium.ttf") format("woff");
}

@media print {
  .pagebreak {
      clear: both;
      page-break-after: always;
  }
}

a.nav-link.active{
  /* color: rgb(102, 108, 109) !important; */
  color: #f8f9fa !important;
}

a {
  text-decoration: none;
  /* color: rgb(102, 108, 109); */
  color: #f8f9fa;
}

a:link {
  /* color: rgb(102, 108, 109); */
  color: #f8f9fa;
}

a:visited {
  /* color: rgb(102, 108, 109); */
  color: #f8f9fa;
}

h6{
  font-weight:700 !important;
}

table {
  width: 100%;
  text-align: center;
}



.brandRow {
  background-color: white;
  height: 60px;
  padding-right: 75px;
  
}



.attInput{
  text-align: center;
  width: 3rem;
}

.btn-info{
  background-color: #3e8559 !important;
  box-shadow: 2px 2px 2px lightgray;
  min-width:150px;
  color: white !important;
  border: 1px solid gray !important;
}

.btn-alert{
  box-shadow: 2px 2px 2px lightgray;
  min-width:150px;
  background-color: #b89737 !important;
  border: 2px solid black !important;
}

.btn-secondary{
  box-shadow: 2px 2px 2px lightgray;
  min-width:150px;
  background-color: #779241 !important;
}

.btn-primary{
  box-shadow: 2px 2px 2px lightgray;
  min-width:150px;
}

.btn-start-over{
  position: absolute;
  bottom: 50;
  margin: 0 auto;
}


.font-standard {
  font-family: "Raleway-Medium", sans-serif;
}

.font-fantasy {
  font-family: eagle-lake, fantasy, sans-serif;
}

.inventoryBox{
  border: 1px solid black;
  min-height: 150px;
}

.linkLogos {
  font-size: 40px;
  color: rgb(223, 227, 228);
}

.listFrame {
  border: solid black 1px;
  text-align: center;
}

.modal{
  font-family: "Raleway-Medium";
}

.nameDisplay {
  width: 100%;
  text-align: left;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: aliceblue;
}

.nav-link{
  font-family: "Raleway-SemiBold";
  
}


.skillsBox{
  border: 1px solid black;
  min-height: 100px;
}

.totalScore {
  background-color: aquamarine;
}

#gitLogo{
  color: #212529;
}

#mailLogo{
  color: #212529;
}

#gitLogo:hover {
  color: gray;
}

#mailLogo:hover {
  color: gray;
}

#standardLogo{
  max-width: 50%;
  margin-top: 20px;
  margin-bottom:50px;
}

@media (max-width: 760px) {
 
  .brandRow {
    padding-right: 30px;
  }
}
